body{
    margin: 0;
    background: #222;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #8a221a;

}
.container{
    width: 80%;
    margin: 0 auto;
}
header{

    background: #eaa551
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    float: right;
}
.nav-title{
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box ul{
    list-style-type: none;
    padding: 2px;
}
.box ul li {
    display: inline;
    padding: 2px;
    background: red cover no-repeat;
    margin: 3px;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: red;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease ease-in-out 250ms;
}
nav a:hover::before{
    width: 100%;
}
.body{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #8a221a;

}
.containers{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(280px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.containers .box{
    position: relative;
    background: #fff;
    padding: 20px 40px 40px;
    
    overflow: hidden;
    border-radius: 20px;
}
.btn{
    border: 1px solid #3498db;
    background: none;
    margin-right: 10px;
    font-size: 10px;
    cursor: pointer;
    float: right;
}
.btn1, .btn2{
    color: #3498db;
    float: right;
    display: inline;
}
.btn1:hover, .btn2:hover{
    color: #fff;
}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before{
    top: 0%;
    border-radius: 0 0 50% 50%;
}
.btn2::before{
    bottom: 0%;
    border-radius: 50% 50% 0 0;
}
.btn1:hover::before, .btn2:hover::before{
    height: 180%;
}




/* MY CODE  */
aside {
    background-color: wheat;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#a70603;
    overflow-x: hidden;
    padding-top: 20px;

  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f7dbb4;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  #main {
    margin-left: 200px; 
  }

  #roundPizza {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

.bg-light{
    background-color: tomato;
}