<body>
    <header>
        <div class="container-sm">
            <h4 class="nav-title">Welcome User</h4>
            <nav>
                <ul>
                    <li><a href="#">Previous Orders</a></li>
                    <li><a href="#">New Order</a></li>
                    <li><a href="#">Add Topping</a></li>
                    <li><a href="#">Add Employee</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="body">
        <div class="containers">
            <div class="box">
                <h3>Orders Waiting</h3>
                <ul class="list-group">
                    {{#each Order}}
                    {{#if statusId = 0}}
                    <li class="list-group-item list-group-item-danger">{{customer}} 
                    <button type="button" class="btn btn-outline-danger btn-sm">Ready</button>
                    </li>
                    {{/if}}
                    {{/each}}  
                  
                    
                </ul>
            </div>
        </div>
        <div class="containers">
            <div class="box box-two">
                <h3>Orders Ready</h3>
                <ul class="list-group">
                    {{#each Order}}
                    {{if statusId = 1}}
                    <li class="list-group-item list-group-item-success">{{customer}} 
                    <button type="button" class="btn btn-outline-success btn-sm">Pay</button>
                    </li>
                    {{/if}}
                    {{/each}}
                  
                    
                </ul>
            </div>
        </div>
    </main>