<header>
    <div class="container">
        <h1>Previous Orders</h1>
        <nav class="nav">
            <a class="nav-link" href="/index">Main Page</a>
            <a class="nav-link" href="/new-order">New Order</a>
            <a class="nav-link" href="/add-topping">Add Topping</a>
        </nav>
    </div>
</header>


<ul>
    {{#each orders}}
        <li>{{dataValues.id}} - {{dataValues.customer}} - {{size.dataValues.label}} - ${{size.dataValues.price}}</li>
    {{/each}}
</ul>